#download-container {
  
}
#download-container section {
  
}
#download-container section .wrap {
  
}
#download-container section .wrap ul.download-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 45px;
  row-gap: 70px;
  width: 95%;
  margin: 0 auto;
}
#download-container section .wrap ul.download-list li {
  border-top: 3px solid #1297bb;
  text-align: center;
  position: relative;
  cursor: pointer;
}
#download-container section .wrap ul.download-list li h3 {
  
  height: 50px;
  padding-top: 20px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  line-height: 1.2;
}

#download-container section .wrap ul.download-list li h3::before{
  content:"";
  position: absolute;
  border-right: 1px solid #ddd;
  width: 1px;
  height: 70px;
  top: 0;
  left: 12px;
}

#download-container section .wrap ul.download-list li figure {
  
  height: 180px;
}
#download-container section .wrap ul.download-list li figure img {
  
  height: 100%;
}
#download-container section .wrap ul.download-list li button {
  
  margin-top: 10px;
  background-color: #fff;
  color: #1297bb;
  border: 2px solid #1297bb;
  padding: 0 10px 15px 19px;
  cursor: pointer;
}
#download-container section .wrap ul.download-list li button .download-icon{
  
  background-image: url(../img/download.JPG);
  background-position: center;
  background-size: contain;
  width: 30px;
  height: 27px;
  display: inline-block;
  transform: translateY(10px);
}

/* 이미지 팝업 */
#download-container section .wrap ul.download-list .download-list-popup-overlay{
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}
#download-container section .wrap ul.download-list .download-list-popup-overlay .download-list-popup{
  
  position: relative;
  width: fit-content;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
#download-container section .wrap ul.download-list .download-list-popup-overlay .download-list-popup img{
  width: 700px;
}
#download-container section .wrap ul.download-list .download-list-popup-overlay .download-list-popup button.close{
  
  background-color: #fff;
  padding: 10px 20px;
  position: absolute;
  top: -26px;
  right: -32px;
  cursor: pointer;
  font-size: 35px;
}
#download-container section .wrap ul.download-list .download-list-popup-overlay .download-list-popup button.slide-button{
  padding: 10px;
  color: #fff;
  font-size: 55px;
  cursor: pointer;
  font-weight: bold;
  border: none;
  line-height: 1.2;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
}
#download-container section .wrap ul.download-list .download-list-popup-overlay .download-list-popup button.prev{
  position: absolute;
  left: 0;
  top: 50%;
}
#download-container section .wrap ul.download-list .download-list-popup-overlay .download-list-popup button.next{
  
  position: absolute;
  top: 50%;
  right: 0;
}
/* 이미지 팝업 */