html{
    height: 100%;
}

body{
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h1{
    font-size: 100%;
    font-weight: normal;
    margin: 0;/* 바깥 여백 */
    padding: 0;/* 안쪽 여백 */
    line-height: 1; /* 줄 간격, 줄 높이 */
    font-size:36px;
    margin-bottom: 20px;
    }
p{
    margin: 0;
    line-height:1;
    
    
    padding:10px;
}

